# dependencies
node_modules

# build
dist
.output
docs/.vitepress/dist
docs/.vitepress/cache

# coverage
coverage

# typescript
*.tsbuildinfo

# env
.env
.env.*

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea

# OS
.DS_Store
Thumbs.db

# playground
playground/dist

# pnpm
.pnpm-store

# devcontainer
.devcontainer/.cache
memory/
